{% extends 'base.html.twig' %}

{% block head %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

{% endblock %}

{% block body %}

{# Exposition #}
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">

            <div class="card mb-3">
                <h3 class="card-header">Mystères aux Tuileries</h3>
                <div class="card-body">
                    <h5 class="card-title"> L’adventure game du Louvre revient.</h5>
                    <h6 class="card-subtitle text-muted">Du 6 juillet au 25 août</h6>
                </div>
            </div>
            <div id="imgoverflow">
              <img id="louvreimg" alt="Card image" src="/assets/img/louvre-carrousel-mysteres-aux-tuileries-l-adventure-game-du-louvre.jpg">
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>    

    <div class="row">
        <div class="col-md-3"></div>
            <div class="col-md-6">



  {# Mail #}
  <form action="{{ path('ticket_detail') }}" method="post" name="myform" id="myform">
    <div class="form-group">
      <legend>Adresse mail</legend>
      <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" type="email" placeholder="Entrez votre adresse" name="email" required>
      <small class="form-text text-muted" id="emailHelp">Nous ne partagerons pas votre mail.</small>
    </div>
  
  <input type="hidden" id="nombreBillets" name="NombreBillets" value="{{ TicketsDate }}">
  {# Calendrier #}
    <div>
      <legend>Calendrier</legend>
      <input type="text" id="calendar" name="calendar" required readonly/>
      <p>Le musée est fermé tous les mardi ainsi que le 1er mai, le 1er novembre et le 25 décembre.<br>
      La réservation en ligne n'est pas disponible pour les dimanche et les jours fériés ainsi que les jours de grosse affluence.</p>
    </div>

  {# Horaire #}
  <fieldset class="form-group">
    <legend>Horaire</legend>
    <div class="form-check">
      <label class="form-check-label">
        {% if "now"|date("H:i:s", "Europe/Paris") <= "14:00:00"  %}
          <input name="optionsRadios" class="form-check-input" id="optionsRadios1" type="radio" checked="" value="option1" required>
          Journée (9h)
        {% endif %}
      </label>
    </div>
  <div class="form-check">
    <label class="form-check-label">
        <input name="optionsRadios" class="form-check-input" id="optionsRadios2" type="radio" value="option2" required>
        Demi-journée (14h)
    </label>
  </div>
  </fieldset>
  <small class="form-text text-muted" id="emailHelp">Il n'est plus possible de réserver de billets "journée" après 14h.</small>
  <small class="form-text text-muted" id="emailHelp">Tarif réduit appliqué aux adultes et senior à partir de 14h (10€).</small>
</br>

  {# Tarifs #}
  <div class="form-group">
    <legend>Tarifs</legend>
    <label for="normal">Tarif "normal". <b>16€</b></label>
    <select class="form-control select" id="normal" name="normal">
      {% if TicketsDate > 5 %}
        {% for normal in range(0, 6) %}
          <option value="{{ normal }}">{{ normal }}</option>
        {% endfor %}
      {% endif %}
    </select>
  </div>

  <div class="form-group">
    <label for="enfant">Tarif "enfant" (4 à 12 ans), gratuit pour les moins de 4 ans. <b>8€</b></label>
    <select class="form-control select" id="enfant" name="enfant">
      {% if TicketsDate > 5 %}
        {% for enfant in range(0, 6) %}
          <option value="{{ enfant }}">{{ enfant }}</option>
        {% endfor %}
      {% endif %}
    </select>
  </div>

  <div class="form-group">
    <label for="senior">Tarif "Senior" (60 ans). <b>12€</b></label>
    <select class="form-control select" id="senior" name="senior">
      {% if TicketsDate > 5 %}
        {% for senior in range(0, 6) %}
          <option value="{{ senior }}">{{ senior }}</option>
        {% endfor %}
      {% endif %}      
    </select>
  </div>

  <input type="text" id="random" name="code" value="" hidden>
  <div class="alert alert-dismissible alert-danger" id="test" style="display:none;">
    <button class="close" type="button" data-dismiss="alert">&times;</button>
    Veuillez sélectionner 1 billet au minimum.
</div>
<div class="alert alert-dismissible alert-danger" id="choisir-date" style="display:none;">
    <button class="close" type="button" data-dismiss="alert">&times;</button>
    Veuillez sélectionner une date.
</div>
  <p>Au-delà de 6 billets, contactez le louvre pour un tarif de groupe. </p>

  <div></div>
  <button type="submit" class="btn btn-primary btn-lg submitHome">Suivant</button>
  </div>
</form>
      </div>
    <div class="col-md-3"></div>
  </div>
</div>

<script>
    var today = new Date();
    var exclude = ["{% for row in SoldOutDate %}{{row.date|date('d-m-Y')}}{{ not loop.last ? '\",\"' }}{% endfor %}", "25-12-2018", "01-01-2018", "02-04-2019", "01-05-2019", "08-05-2019", "10-05-2019", "21-05-2019", "14-07-2019", "15-08-2019", "01-11-2019", "11-11-2019", "25-12-2019"]
  
    $(document).ready(function() {
      $('#calendar').datepicker({
        beforeShowDay: function(date) {
          var day = jQuery.datepicker.formatDate('dd-mm-yy', date);
          return [!~$.inArray(day, exclude) && (date.getDay() != 0)  && (date.getDay() != 2)];
        },
        minDate: today,
        onSelect: function(date, instance) {
          $.ajax({
            url : '/ajax',
            type : 'POST',
            data : {'date':date},
            dataType : 'html',
            success : function(nbBillets, statut){
              console.log('nombre de billets ' + nbBillets);
              //reconstruire la liste drop down
                if(parseInt(nbBillets) > 5){
                  
                  $('.select').empty();
  
                  var maxticket = 6;
  
                  for (var i = 0; i <= maxticket; i++) {
                    $('.select').append('<option value="' + i + '">' + i + '</option>')
                  }
                } 
                else {              
                  $('.select').empty();
  
                  var maxticket = parseInt(nbBillets);
  
                  for (var i = 0; i <= maxticket; i++) {
                    $('.select').append('<option value="' + i + '">' + i + '</option>')
                  }
                    console.log('processer la liste')
                }
                $( document ).ready(function() {   
                  $(".select").change(function(){
                  
                    //reset
                    for (var i = maxticket; i >= 0; i--) {
                      $("#normal option[value='"+i+"']").show();
                      $("#enfant option[value='"+i+"']").show();
                      $("#senior option[value='"+i+"']").show();
                    }
                for (var i = maxticket; i > (maxticket - (parseInt($( "#enfant" ).val()) + parseInt($( "#senior" ).val()))); i--) {
                  $("#normal option[value='"+i+"']").hide();
                }
              
                for (var i = maxticket; i > (maxticket - (parseInt($( "#normal" ).val()) + parseInt($( "#senior" ).val()))); i--) {
                  $("#enfant option[value='"+i+"']").hide();
                }
              
                for (var i = maxticket; i > (maxticket - (parseInt($( "#enfant" ).val()) + parseInt($( "#normal" ).val()))); i--) {
                  $("#senior option[value='"+i+"']").hide();
                }
              });
            });
            },
   
            error : function(resultat, statut, erreur){
            
            },
   
            complete : function(resultat, statut){
   
            }          
          });
        }
      });
    });
  </script>
  <script>
      //select date
      $( document ).ready(function() {   
        $(".submitHome").click(function(event){
          var dateTrue = $( "#calendar" ).val();
          if ( dateTrue == 0) {
            event.preventDefault();
            $('#choisir-date').css('display', '');
          }   
        });
      });
        
    </script>
</script>
<script>
  //min value of 1 ticket
  $( document ).ready(function() {   
    $(".submitHome").click(function(event){
      var minRequired = (parseInt($( "#normal" ).val()) + parseInt($( "#enfant" ).val()) + parseInt($( "#senior" ).val()));
      if ( minRequired == 0) {
        event.preventDefault();
        $('#test').css('display', '');
      }   
    });
  });
    
</script>
<script>
  //close alert messages
  $( document ).ready(function(){
    $('.close').click(function(){            
      $('#test').css('display', 'none');
      $('#choisir-date').css('display', 'none');
    });
  });  
</script>
<script>
  $( document ).ready(function(){
    var text = "";
    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
    
    for (var i = 0; i < 5; i++)
      text += possible.charAt(Math.floor(Math.random() * possible.length));
    
    return $( "#random" ).val(text);
  });
</script>
{% endblock %}